/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'Copperplate Gothic';
    color: red;
}

header {
    padding-bottom: 10px;
    border-bottom: 2px dotted blue;
    margin-bottom: 10px;
}

header h1 {
        margin-left: 20px;
        display: inline-block;
}

section {
    padding-bottom: 5px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: grey;
}

fieldset {
    background-color: pink;
    margin-bottom: 10px;
}

legend {
    font-size: 1.2em;
    font-style: italic;
}

fieldset li {
    list-style: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: pink;
    opacity: 0.6;
    width: 200px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
